.container {
    width: 1000px;
    margin: auto;
}

.btn-container {
    margin: 30px auto;
    text-align: center;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
    padding: 0 15px;
}